p {
    font-family: 'Lucida Sans';
    text-align: justify;
    font-size: 12px;
    color: #48cf80;
}
nav{
text-align: justify;

    text-align: center;
}
.lista{
    font-family: 'Lucida Sans';
    text-align: center;
    font-size: 12px;
    color: #12251a;
    list-style: none;
    padding: 0;
    margin: 0;
}
